@{
	ViewData["Title"] = "Home Page";
}

<div>
	<img src="~/imgs/logo.png" height="113" width="113" border="0" />
	<h1 class="display-4">@ViewBag.Welcome</h1>

	<div class="row">
		@await Html.PartialAsync("_Conditions");
	</div>
</div>
